version: "3.8"

services:
  telegram-bot:
    build: .
    container_name: school_bot
    restart: always

    volumes:
      - ./data:/app/data

    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - CHAT_ID=${CHAT_ID}
      - ADMIN_ID=${ADMIN_ID}
